.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 45px;
    padding-top: 40px;
    gap: 0px;
}

.row-column {
    position: relative;
    padding: 0px 15px;
}

.left-column {
    height: 610px;
}

.rcolumn-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 36px;
}

.column-space {
    display: block;
    height: 40px; 
}

.middle-column {
    display: flex;
    border-radius: 20px;
    background-color: rgb(245, 229, 204);
    padding: 10px 0px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.20);
}

.middleText {
    width: 390px;
    height: 550px;
    padding: 20px 35px;
}

#reflection-content {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 16px;
    gap: 20px;
}

.right-column {
    display: grid;
    padding: 20px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: #fbf8f1;
    gap: 6px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.20);
}

.btnRow {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr; /*1 fraction*/
    gap: 7px;
}

.btnWorks {
    display: grid;
    gap: 7px;
}

.entry, .rightColumn-btn {
    display: flex;
    padding: 10px 29px;
    border-radius: 5px;
    background-color: rgb(219, 202, 226);
    transition: background-color 0.3s;
}

.entry:hover {
    background-color: rgb(180, 154, 188);
    cursor: pointer;
}

.entry-clicked{
    background-color: #b9d9ca;
}

li {
    list-style: none;
}