.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 45px;
    padding-top: 40px;
    gap: 0px;
    align-self: stretch;
}

.row-column {
    position: relative;
    padding: 0px 15px;
    gap: 20px;
}

.left-column {
    height: 610px;
}

.rcolumn-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 36px;
}

.middle-column {
    display: flex;
    border-radius: 20px;
    background-color: rgb(245, 229, 204);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.20);
}

.middleText {
    min-height: 706px;
    padding: 20px 35px;
}

#reflection-content {
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 16px;
    gap: 20px;
}

.right-column {
    display: grid;
    width: 406px;
    padding: 20px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: var(--notwhite);
    gap: 6px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.20);
}

.btnRow {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr; /*1 fraction*/
    gap: 7px;
}

.btnWorks {
    display: grid;
    gap: 7px;
}

.entry, .rightColumn-btn {
    display: flex;
    padding: 10px 0px;
    border-radius: 5px;
    justify-content: center;
    background-color: rgb(219, 202, 226);
    transition: background-color 0.3s;
}

.entry:hover {
    background-color: rgb(180, 154, 188);
    cursor: pointer;
}

.entry-clicked{
    background-color: #b9d9ca;
}

li {
    list-style: none;
}

.svgAccordion {
    display: grid;
    position: relative;
    width: 446px;
    justify-items: center;
}

.svgAccordion-btn, .active {
    width: 400px;
    background-color: var(--navgreen);
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.svgAccordion-btn:hover {
    background-color: #abc8ba;
    transition: background-color 0.3s;
}

.svgAccordion-btn:after {
    content: '+';
    position: absolute;
    right: 24px;
    top: 16px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: var(--darkgreen);
    transition-duration: 0.2s;
}

.active.svgAccordion-btn:after {
    transform: rotate(45deg);
    transition-duration: 0.2s;
}

.svgDropdown {
    display: flex;
    width: 400px;
    max-height: 0;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
    background-color: #fff;
    transition-duration: 0.2s;
    justify-content: center;
}

.svg-padding {
    padding-top: 20px;
}